body {
  background: rgb(245,245,245);
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 { font-weight: 700; }

header { margin-bottom: 40px; }

#logo a {
  background: url('/assets/images/bender.png') no-repeat;
  color: #22343E;
  display: block;
  height: 100px;
  line-height: 100px;
  padding-left: 107px;
  text-transform: uppercase;
}

#logo a:hover {
  text-decoration: none;
}

.post-list li {
  font-size: 18px;
  margin-top: 10px;
}
