---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div
  class="bg-sunken absolute -inset-x-4 -inset-y-6 z-0 scale-95 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"
>
</div>
<a href={href} class="text-inherit">
  <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
  <span class="relative z-10"><slot /></span>
</a>
